* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr 1fr;
    font-family: sans-serif;
    align-items: center;
    gap: 20px;
}

header,
footer {
    font-size: 2rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: white;
}

main {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 10fr;
    justify-items: center;
}

body {
    background-color: #dadada;
}

button {
    width: 25%;
    font-size: 1.2rem;
    border: none;
    background-color: #efefef;
}

button:hover {
    background-color: #c4c4c4;
}

.books {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    grid-auto-flow: column;
}

.book-input {
    display: grid;
    grid-column: 1 / 4;
}

.book-input button {
    width: 100%;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

footer {
    font-size: 1.2rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) -2px -2px 2px;
}